html {
    background: #000;
    color: #ddd;
    font-family: sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "pf-din", Impact, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #ddd;
}

nav {
    margin: 0 20px;
    background-color: #000;
}

.logo a {
    height: 50px;
    /* background: url("./img/logo.png") no-repeat; */
    color: #fff;
    font-family: "news", Georgia, serif;
    font-size: 24px;
    padding: 0 30px;
    text-decoration: none;
}

.logo-icon {
    width: 20px;
    vertical-align: middle;
    margin: -9px -30px 0px 8px;
}

/* .email-signin {
    padding: 0 30px 0px 0px;
} */

nav h2 {
    font-size: 18px;
}

.login {
    margin-right: 8px;
    margin-top: 10px;
    float: right;
    font-size: 18px;
    color: #888;
    font-family: "pf-din", Impact, sans-serif;
    text-transform: uppercase;
}

.login a {
    font-family: "pf-din", Impact, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    color: #888;
    -webkit-transition: all 0.2s;
}

/* Main */
main {
    background-color: #000;
    color: #fff;
}

/* Hero */
.hero {
    margin: -35px auto 0;
    /* max-width: 1240px; */
    padding: 30px 10px;
    text-align: center;
    min-height: 450px;
    background-image: url("./img/hero-bg.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

}

.hero h1 {
    font-size: 64px;
    line-height: 72px;
    font-weight: 400;
    /* font-family: 'Poppins', sans-serif; */
    text-transform: uppercase;
}

.hero h2 {
    font-family: "news", Georgia, serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 26px;
    margin: 40px auto;
    max-width: 720px;
    text-transform: none;
}

.hero a {
    background: #FF2500;
    background-position: 5px;
    border-bottom: 3px solid #c20027;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: "pf-din", Impact, sans-serif;
    font-size: 22px;
    margin: 0 auto;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.hero a:hover {
    background-color: #bb0000;
}

/* Props */

.props {
    background: #000;
    margin-top: 30px;
    padding: 30px 10px;
    text-align: center;
}

.props p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 0;
}

.props ul {
    list-style: none;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: 0;
}

.props ul li h3 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* Video */
.video {
    background: #000;
    padding: 10px 10px 20px;
    text-align: center;
}

/* About */
.about {
    background: #000;
    padding: 30px 10px;
    text-align: center;
}

.about h2 {
    background-image: url("./img/4iazXs2iBgMVq.svg");
    display: block;
    height: 55px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    width: 237px;
}

.about p {
    font-size: 16px;
    line-height: 26px;
    margin: 20px auto 40px;
    max-width: 580px;
}

.about p a {
    color: #ccc;
    text-decoration: underline;
}

.about p a:hover {
    color: #fff;
}

/* Video */
.video {
    background: #000;
    padding: 10px 10px 20px;
    text-align: center;
}

.video iframe {
    width: 640px;
    height: 350px;
}

/* Footer */
footer {
    color: #ccc;
    font-family: "news", Georgia, serif;
    font-size: 14px;
    padding: 3px 10px;
    border-top: 1px solid #ccc;
    background-color: #000;
}

footer p,
footer span {
    display: inline-block;
    margin: 14px 0;
}

footer a {
    color: #ccc;
    margin-left: 8px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    /* -webkit-transition: border-bottom 0.2s;
    -moz-transition: border-bottom 0.2s;
    -ms-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s; */
}

@media screen and (min-width: 720px) {
    .props {
        padding: 60px 0;
    }

    .props li {
        box-sizing: border-box;
        float: left;
        margin: 0;
        max-width: none;
        padding: 2%;
        width: 33.33333%;
    }

    .props li {
        margin: 0 auto 60px;
        max-width: 300px;
    }

    .props li img {
        vertical-align: middle;
        margin-bottom: 15px;
    }

    .video {
        padding: 0 0 50px;
    }
}

@media screen and (max-width: 720px) {
    .hero {
        margin: 0 auto;
    }

    .hero h1 {
        font-size: 36px;
        line-height: 36px;
        font-weight: 500;
        margin: 0;
        color: #fff;
    }

    hero h2 {
        font-family: "news", Georgia, serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 26px;
        margin: 40px auto;
        max-width: 720px;
        text-transform: none;
    }

    .video {
        padding: 0 5px 5px;
    }

    .video iframe {
        width: -webkit-fill-available;
        height: 315px;
        padding: 1rem 0;
        overflow: hidden;
    }

    .props li {
        margin: 0 auto 60px;
        max-width: 300px;
    }

    footer p,
    footer span {
        margin: auto;
    }
}